#header_container { 
					background:#eee; 
					border:1px solid #666; 
					height:90px; 
					left:0.5px;
					right: 0.5px; 
					position:fixed; 
					width:99.5%; 
					top:0; 
				}
#header{ 
	line-height:60px; 
	margin:0 auto; 
	width:500px; 
	text-align:center;
	position: fixed;
	 }

#logo{
	border: 2px solid;
    border-radius: 5px;
    position: left;
    left: 0;
    max-width: 50%;
    height: 85px;
}

.container { 
	margin:0 auto;
	 overflow:auto; 
	 padding:92px 0; 
	 width:940px; 
	 height: 100%;
	 top:50px;

	}
.content{
	/*background-color: #80CC80;  */
	background-image: url("White_Vista_by_nerval.jpg");
}

.form{
	position: center;
	background-color: #80CC80;
	text-align: center;
	max-width: 50%;
	border: 2px solid;
	margin: 0 auto;
}

#footer_container{
	background:#eee; 
	border:2px solid #666; 
	bottom:0; 
	height:40px; 
	left:1px; 
	right: 1px;
	position:fixed; 
	width:99.5%;
}
#footer { 
	line-height:15px; 
	margin:0 auto; 
	width:940px; 
	text-align:center; 
}